.about {
  background-size: cover;
  width: 100%;
  height: 95vh;
  background-image: url("https://d2r72yk5wmppdj.cloudfront.net/m/36e69f183a3f6668/Low-ModernOffice_Overall_Plan2.jpg");
  &__content {
    // height: 500px;
    // width: 500px;
    // padding-top: 200px;
    // margin: 0 auto;
    // background-color: white;
    /* change this to fixed */
    p {
      text-align: center;
      font-size: 16px;
    }

    position: relative;
    transform: translate(-50%, -50%);
    // width: 100%;
    left: 50%;
    top: 50%;
    width: 550px;
    height: 550px;
    background: #fff;
    padding: 40px 20px;
  }
}
